		<p>
		<hr>
			<center><a href=/all>Alle Posts</a></center>
		</p>
		<div align=right>
			Proudly made without PHP, C++, Go, Perl, and Postgres<br>
			<a href=/impressum.html>Impressum</a>
		</div>
	</body>
</html>
