<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//ENi">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link href="/solarized-dark.css" rel="stylesheet"></link>
		<link rel='alternate' type='application/rss+xml' title='RSS FEED DU AFFE' href='/rss.xml'>
		<title>☃ fettemama.org - THE BEST BLOG IN THE UNIVERSE WRITTEN IN Clojure :]</title>
		<script type="text/javascript">var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-705689-1']);_gaq.push(['_setDomainName', 'fettemama.org']);_gaq.push(['_trackPageview']);(function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();</script>
	</head>
	<body>
		<h1><a href=/>(org (fettemama))</a></h1>
		<b>We are Samurai... the Keyboard Cowboys... and all those other people who have no idea what's going on are the cattle...</b>
		<p align=right>Fragen? <a href=/faq.html>Antworten!</a><br>
			<i>Einsendungen und Beschwerden bitte an blog@fettemama.org</i><br>
			IRC: irc.hackint.eu | #fm<br>
			Github: <a href=http://github.com/kybernetyk/fettemama3>github.com/kybernetyk/fettemama3</a>
		</p>
	<hr>
